.card-theme {
  background-color: #1C2228;
  border: none;
  border-radius: 2px;
}

.card-header-theme {
  color: #eee;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 12px;
}

.shadow {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}
.card-header-theme {
  background-color: #494F56;
}

.cards {
  display: flex;
  flex-direction: column;
}

.section-container{
  padding: 30px;
}
